---
import BaseLayout from '@/layouts/BaseLayout.astro';

Astro.response.status = 500;
---

<BaseLayout>
  <h1>It's ludicrous!</h1>
  <p>There was a major mal-mis-organization problem on our end.</p>
</BaseLayout>
