---
import BaseLayout from '../layouts/BaseLayout.astro';
import DriversList from '@/components/DriversList.astro';

Astro.response.headers.set('Cache-Control', 'public, max-age=604800');
---

<BaseLayout>
  <hgroup>
    <h1>Six Degrees of Formula One</h1>
    <p>Find out which driver is the sport's Kevin Bacon</p>
  </hgroup>
  <p id="prompt">Get all the shortest paths from/to:</p>
  <form action="/paths" method="GET">
    <fieldset class="grid">
      <input
        type="text"
        name="source"
        placeholder="Source"
        aria-label="Source"
        list="drivers"
        autocomplete="off"
        required
      />
      <input
        type="text"
        name="dest"
        placeholder="Destination"
        aria-label="Destination"
        list="drivers"
        autocomplete="off"
        required
      />
      <DriversList />
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</BaseLayout>

<style>
  #prompt {
    margin-top: 1.75rem;
  }

  fieldset.grid {
    margin-bottom: 0.25rem;
  }

  button[type='submit'] {
    padding: 0.5rem 0.75rem;
    width: unset;
  }
</style>
