---
import type { Node, Edge, Options } from 'vis-network/esnext';

interface Props {
  nodes: Node[];
  edges: Edge[];
}

const { nodes, edges } = Astro.props;
---

<vis-graph
  data-nodes={JSON.stringify(nodes)}
  data-edges={JSON.stringify(edges)}
>
  <div></div>
</vis-graph>

<script>
  import type { Node, Data, Edge, Options } from 'vis-network/esnext';
  import { DataSet } from 'vis-data/esnext';
  import { Network } from 'vis-network/esnext';

  class VisGraph extends HTMLElement {
    constructor() {
      super();

      const nodes = new DataSet(
        JSON.parse(this.dataset.nodes as string) as Node[]
      );
      const edges = new DataSet<Edge>(
        JSON.parse(this.dataset.edges as string) as Edge[]
      );

      const container = this.querySelector('div')!;
      const data: Data = {
        nodes,
        edges
      };
      const options: Options = {
        nodes: {
          shape: 'box',
          color: '#2060df',
          font: {
            color: '#fff'
          }
        },
        edges: {
          arrows: 'to',
          color: '#4178e7'
        },
        layout: {
          hierarchical: {
            direction: 'UD',
            sortMethod: 'directed',
            nodeSpacing: 175,
            levelSeparation: 80
          }
        },
        physics: false
      };

      new Network(container, data, options);
    }
  }

  customElements.define('vis-graph', VisGraph);
</script>

<style>
  div {
    width: 100%;
    height: 100%;
  }
</style>
