---
import '@picocss/pico/css/pico.blue.min.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Six Degrees of F1</title>
  </head>
  <body class="container">
    <header>
      <nav aria-label="Main navigation">
        <ul>
          <li>
            <a id="nav-brand" class="pico-color-grey-50" href="/">
              <strong>Six Degrees of F1</strong>
            </a>
          </li>
        </ul>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/credits">Credits</a></li>
          <li>
            <a href="https://github.com/maciejpedzich/sixdegs">Source Code</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <small>
        Made with 🧠 by <a href="https://maciejpedzi.ch">Maciej Pędzich</a>
      </small>
    </footer>
  </body>
</html>

<style>
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #nav-brand {
    color: unset;
    text-decoration-color: inherit;
  }

  .container {
    max-width: 65ch;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    border-top: 1px solid var(--pico-muted-border-color);
    padding: 1rem;
  }
</style>
